@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-weight: 600;
  transform: translate(-50%, 0);
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  a {
    color: hsl(228, 45%, 44%);
  }

  @media (max-width: 890px) {
    display: none;
  }
}
